*{
  box-sizing: border-box;

}

/* section{
  display: inline-block;
  margin: 20px;
} */


.App {
  text-align: center;
}
main{
  text-align: center;
  margin: 0;
}

.card {
  margin: 20px;
  width: 18rem;
  height: 30rem;
}


header ,footer{
  text-align: center;
  color: white;
  background-color: #3c5570;
  padding-top: 12px;
  padding-bottom: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}